body{
  margin:0;
  padding:0;
  overflow: hidden;
}
.search-form-container{
  width: 30%;
  min-height: 100vh;
  background-color: lightgrey;
  float: right;
}

form .form-group{
  padding:10px;
}
.charts-area{
  width: 70%;
  float: right;
  overflow-y:scroll;
  height:100vh;
}
.charts-scroll-area{
}
.charts{
  width:100%;
  height:100vh;
  float:right;
}